[Desktop Entry]
Type=Application
Name=ZFS Snapshots
Comment=ZFS datasets & snapshots
Exec=/usr/local/bin/kldload-webview --app-id=kldload-zfs --title="ZFS" --url="https://localhost:8443/?app=1#zfs"
Icon=kldload-zfs
Terminal=false
Categories=System;
StartupWMClass=com.kldload.zfs
NoDisplay=true
