[Desktop Entry]
Type=Application
Name=Virtual Machines
Comment=KVM virtual machines
Exec=/usr/local/bin/kldload-webview --app-id=kldload-vms --title="Virtual Machines" --url="https://localhost:8443/?app=1#vms"
Icon=kldload-vms
Terminal=false
Categories=System;
StartupWMClass=com.kldload.vms
NoDisplay=true
