[Desktop Entry]
Name=Export Disk Image
GenericName=Disk Image Exporter
Comment=Export this system to qcow2, VMDK, VHD, OVA, or raw image
Exec=kldload-term kexport
Icon=media-floppy
Terminal=false
Type=Application
Categories=Utility;
Keywords=kexport;kldload;image;qcow2;vmdk;vhd;ova;export;
StartupNotify=false
