[Desktop Entry]
Type=Application
Name=ZFS Snapshots
Comment=ZFS datasets & snapshots
Exec=/usr/local/bin/kldload-app zfs
Icon=kldload-zfs
Terminal=false
Categories=System;
StartupWMClass=kldload-zfs
