[Desktop Entry]
Type=Application
Name=klab
Comment=klab goldens & sites
Exec=/usr/local/bin/kldload-chrome-app com.kldload.klab "https://localhost:8443/app/klab?app=1#klab"
Icon=kldload-klab
Terminal=false
Categories=System;
StartupWMClass=chrome-localhost__app_klab-Default
NoDisplay=true
