[Desktop Entry]
Type=Application
Name=Metrics
Comment=Grafana / Prometheus
Exec=/usr/local/bin/kldload-chrome-app com.kldload.metrics "https://localhost:8443/app/metrics?app=1#metrics"
Icon=kldload-metrics
Terminal=false
Categories=System;
StartupWMClass=com.kldload.metrics
NoDisplay=true
