[Desktop Entry]
Type=Application
Name=Ansible
Comment=Ansible playbooks
Exec=/usr/local/bin/kldload-app ansible
Icon=kldload-ansible
Terminal=false
Categories=System;
StartupWMClass=kldload-ansible
