[Desktop Entry]
Type=Application
Name=ZFS Snapshots
Comment=ZFS datasets & snapshots
Exec=/usr/local/bin/kldload-chrome-app com.kldload.zfs "https://localhost:8443/app/zfs?app=1#zfs"
Icon=kldload-zfs
Terminal=false
Categories=System;
StartupWMClass=chrome-localhost__app_zfs-Default
NoDisplay=true
