[Desktop Entry]
Type=Application
Name=Kubernetes
Comment=Kubernetes cluster panes
Exec=/usr/local/bin/kldload-chrome-app com.kldload.k8s "https://localhost:8443/app/k8s?app=1#k8s"
Icon=kldload-k8s
Terminal=false
Categories=System;
StartupWMClass=com.kldload.k8s
NoDisplay=true
