[Desktop Entry]
Type=Application
Name=Ansible
Comment=Ansible playbooks
Exec=/usr/local/bin/kldload-chrome-app com.kldload.ansible "https://localhost:8443/app/ansible?app=1#ansible"
Icon=kldload-ansible
Terminal=false
Categories=System;
StartupWMClass=chrome-localhost__app_ansible-Default
NoDisplay=true
