[Desktop Entry]
Type=Application
Name=Helm
Comment=Helm charts
Exec=/usr/local/bin/kldload-app helm
Icon=package-x-generic
Terminal=false
Categories=System;
StartupWMClass=kldload-helm
