[Desktop Entry]
Type=Application
Name=Virtual Machines
Comment=KVM virtual machines
Exec=/usr/local/bin/kldload-app vms
Icon=computer
Terminal=false
Categories=System;
StartupWMClass=kldload-vms
