[Desktop Entry]
Type=Application
Name=Metrics
Comment=Grafana / Prometheus
Exec=/usr/local/bin/kldload-win metrics kldload-metrics
Icon=utilities-system-monitor
Terminal=false
Categories=System;
StartupWMClass=kldload-metrics
