[Desktop Entry]
Type=Application
Name=klab
Comment=klab goldens & sites
Exec=/usr/local/bin/kldload-app klab
Icon=applications-science
Terminal=false
Categories=System;
StartupWMClass=kldload-klab
