[Desktop Entry]
Type=Application
Name=Helm
Comment=Helm charts
Exec=/usr/local/bin/kldload-app helm
Icon=kldload-helm
Terminal=false
Categories=System;
StartupWMClass=kldload-helm
