[Desktop Entry]
Type=Application
Name=ZFS Snapshots
Comment=ZFS datasets & snapshots
Exec=/usr/local/bin/kldload-win zfs kldload-zfs
Icon=drive-harddisk
Terminal=false
Categories=System;
StartupWMClass=kldload-zfs
