[Desktop Entry]
Type=Application
Name=Kubernetes
Comment=Kubernetes cluster panes
Exec=/usr/local/bin/kldload-app k8s
Icon=kldload-k8s
Terminal=false
Categories=System;
StartupWMClass=kldload-k8s
