[Desktop Entry]
Type=Application
Name=Kubernetes
Comment=Kubernetes cluster panes
Exec=/usr/local/bin/kldload-win k8s kldload-k8s
Icon=network-server
Terminal=false
Categories=System;
StartupWMClass=kldload-k8s
