[Desktop Entry]
Name=Snapshot Manager
GenericName=ZFS Snapshot Manager
Comment=Create, list, rollback, and destroy ZFS snapshots
Exec=kldload-term ksnap list
Icon=ksnap
Terminal=false
Type=Application
Categories=System;Filesystem;
Keywords=ksnap;kldload;zfs;snapshot;rollback;
StartupNotify=false
