KLDLOAD_PROFILE=server
KLDLOAD_STORAGE_MODE=zfs
KLDLOAD_ENABLE_ZFS=1
KLDLOAD_ENABLE_EBPF=1
KLDLOAD_DISK=/dev/sda
KLDLOAD_HOSTNAME=master
KLDLOAD_USERNAME=admin
KLDLOAD_PASSWORD=changeme
KLDLOAD_ROOT_PASSWORD=changeme
KLDLOAD_NET_METHOD=static
KLDLOAD_NET_IFACE=ens18
KLDLOAD_NET_IP=10.100.10.20
KLDLOAD_NET_PREFIX=24
KLDLOAD_NET_GW=10.100.10.1
KLDLOAD_NET_DNS=1.1.1.1,8.8.8.8
KLDLOAD_TEMPLATE=master
KLDLOAD_ZFS_ENCRYPT=0
KLDLOAD_ZFS_BPOOL_SIZE_MIB=2048
KLDLOAD_ZFS_ASHIFT=12
KLDLOAD_FORCE_WIPE=1
