[Unit]
Description=KLDload Live Darksite Ensure
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/kldload-installer/firstboot/ensure-darksite.sh

[Install]
WantedBy=multi-user.target
