[Unit]
Description=KLDload /srv Workload ZFS Snapshot
After=zfs-mount.service
Wants=zfs-mount.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/snapshot-create.sh srv
StandardOutput=journal
StandardError=journal
