[Unit]
Description=KLDload First Boot Initialization
After=network-online.target zfs-mount.service
Wants=network-online.target
ConditionPathExists=!/var/lib/kldload/firstboot-done

[Service]
Type=oneshot
ExecStart=/usr/sbin/kldload-firstboot
ExecStartPost=/bin/mkdir -p /var/lib/kldload
ExecStartPost=/bin/touch /var/lib/kldload/firstboot-done
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
