[Unit]
Description=kldload Template Installer TUI
After=getty.target live-config.service
Conflicts=getty@tty1.service
ConditionPathExists=/usr/local/sbin/kldload-deploy-tui

[Service]
Type=idle
ExecStart=/sbin/agetty \
  --autologin root \
  --login-program /usr/local/sbin/kldload-deploy-tui \
  --noclear \
  tty1 \
  linux
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
