[Unit]
Description=kldload cluster autobootstrap and WireGuard reflector
After=salt-master.service wg-quick@wg1.service
Requires=salt-master.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/kldload-autobootstrap
StandardOutput=journal
StandardError=journal
