[Unit]
Description=Prometheus smartctl Exporter
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/smartctl_exporter --web.listen-address=:9633 --smartctl.path=/usr/sbin/smartctl --smartctl.interval=60s --smartctl.rescan=10m
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
