[Unit]
Description=Prometheus ZFS Exporter
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/zfs_exporter --web.listen-address=:9134 --deadline=60s
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
