[Desktop Entry]
Type=Application
Name=kldload ZFS sidebar bookmarks
Comment=Add mounted extra-pool ZFS datasets (tank, ...) to the Files sidebar at login
Exec=kldload-zfs-bookmarks
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
OnlyShowIn=GNOME;
