[Desktop Entry]
Type=Application
Name=KLDload Wallpaper
Exec=/usr/bin/kldload-apply-live-wallpaper
TryExec=/usr/bin/kldload-apply-live-wallpaper
X-GNOME-Autostart-enabled=true
