[Desktop Entry]
Type=Application
Name=kldload Web UI
Exec=bash -c 'systemctl start kldload-webui 2>/dev/null; for i in $(seq 1 30); do (echo >/dev/tcp/localhost/8080) 2>/dev/null && break; sleep 1; done; firefox-esr --profile /home/live/.mozilla/firefox/kldload.default http://localhost:8080 https://kldload.ca'
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=4
