[Desktop Entry]
Type=Application
Name=KLDload Session Init
Exec=/usr/bin/kldload-live-session-init
TryExec=/usr/bin/kldload-live-session-init
X-GNOME-Autostart-enabled=true
