[Unit]
Description=KLDload APT Pre-Transaction ZFS Snapshot
DefaultDependencies=no
Before=apt-daily.service dpkg.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/snapshot-create.sh apt-pre
RemainAfterExit=yes
