[Unit]
Description=Emit ZFS module debug messages (dbgmsg) to a tailable log
Documentation=file:///usr/local/bin/kldload-zfs-dbgmsg-collector
ConditionPathExists=/proc/spl/kstat/zfs/dbgmsg

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kldload-zfs-dbgmsg-collector
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
