[Unit]
Description=Apply KLDload platform package holds
ConditionPathExists=/usr/sbin/kldload-apply-platform-holds

[Service]
Type=oneshot
ExecStart=/usr/sbin/kldload-apply-platform-holds

[Install]
WantedBy=multi-user.target
